{
    "accounts": {
        "deployer": "MNEMONIC"
    },
    "alchemy": {
        "apiKey": ""
    },
    "verification": {
        "polygonscan": "",
        "etherscan": ""
    },
    "coinmarketcap": {
        "apiKey": ""
    }
}
